<div class="container-fluid background-photo no-padding" [@enterAnimation]>
  <nav class="navbar navbar-expand-lg white-box-navbar">
	<a class="navbar-brand lobster-font" routerLink="/home">Event World</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
		</ul>
	</div>
	<div class="nav-item active pull-right">
		<a class="nav-link lobster-font" routerLink="/logout">Logout <span class="sr-only">(current)</span></a>
	</div>
</nav>
  <br><br>
  <div id='explore' >
  	<div class="row">
  		<div class="col-lg-1"></div>
  		<div class="col text-center white-box-left">
  			<a (click)="changeView(4)" class="btn azm-social azm-size-128 azm-circle azm-long-shadow  azm-first"><i class="fa fa-map-marker"></i></a>
  			<br>
  			<h2 class="lobster-font">Venues</h2>
  		</div>
  		<div class="col text-center white-box-center">
  			<a (click)="changeView(0)"  class="btn azm-social azm-size-128 azm-circle azm-long-shadow  azm-second"><i class="fa fa-calendar"></i></a>
  			<br>
  			<h2 class="lobster-font">Events</h2>

  		</div>
  		<div class="col text-center white-box-center">
  			<a (click)="changeView(1)" class="btn azm-social azm-size-128 azm-circle azm-long-shadow  azm-third"><i class="fa fa-users"></i></a>
  			<br>
  			<h2 class="lobster-font">Groups</h2>

  		</div>
  		<div class="col text-center white-box-right">
  			<a (click)="changeView(2)" class="btn azm-social azm-size-128 azm-circle azm-long-shadow  azm-fourth"><i class="fa fa-user"></i></a>
  			<br>
  			<h2 class="lobster-font">Performers</h2>

  		</div>
  		<div class="col-lg-1"></div>
  	</div>

  	<div class="row content">
  		<div class="col-1"></div>
  		<div class="col-lg-10">
  			<div>
  				<div id='events' class="white-box-regular" *ngIf="tab == 0" [@enterAnimation]>
  					<h1 class="lobster-font text-center big-text">Events
                <button type="button" routerLink="/new/event" class="btn azm-second btn-circle"><i class="fa fa-plus"></i></button>
              </h1>

  					<div class="card-body scrollable " style='position:relative'>
  					<ng-container  *ngFor="let event of events; let i = index">
  							<div class="row small-padding" *ngIf='i%3==0'>
  								<div class="col-lg-4">
  									<div class='project wow animated animated4 fadeInLeft round mx-1' [ngStyle]="{'background-image': getUrl(events[i])}">
  										<div class="project-hover">
  											<h2> {{events[i].name}}</h2>
  											<hr/>
  											<p>{{events[i].description}}</p>
  											<br>
  											 <a routerLink="/events/{{events[i].id}}">See Event</a>
  										</div>
  									</div>
  								</div>
  								<div *ngIf = "i+1 < events.length" class="col-lg-4">
  									<div class='project wow animated animated4 fadeInLeft round mx-1' [ngStyle]="{'background-image': getUrl(events[i+1])}">
  										<div class="project-hover">
  											<h2> {{events[i+1].name}}</h2>

  											<hr/>
  											<p>{{events[i+1].description}}</p>
  											<br>
  											<a routerLink="/events/{{events[i+1].id}}">See Event</a>
  										</div>
  									</div>
  								</div>
  								<div *ngIf = "i+2 < events.length" class="col-lg-4">
  									<div class='project wow animated animated4 fadeInLeft round mx-1' [ngStyle]="{'background-image': getUrl(events[i+2])}">
  										<div class="project-hover">
  											<h2> {{events[i+2].name}}</h2>

  											<hr/>
  											<p>{{events[i+2].description}}</p>
  											<br>
  											<a routerLink="/events/{{events[i+2].id}}">See Event</a>
  										</div>
  									</div>
  								</div>

  							</div>

  					</ng-container>
  				</div>

  					</div>

  					<div id='groups'  class="white-box-regular" *ngIf="tab == 1" [@enterAnimation]>
  						<h1 class="lobster-font text-center big-text">Groups
                <button type="button" routerLink="/new/group" class="btn azm-third btn-circle"><i class="fa fa-plus"></i></button>
              </h1>

  						<!-- <div class="card-header"><b> Groups </b>
  							<div class="pull-right">
  								<button type="button" routerLink="/new/group" class="btn azm-yelp btn-circle"><i class="fa fa-plus"></i></button>
  							</div></div> -->
  						<div class="card-body scrollable" style='position:relative'>
  						<ng-container  *ngFor="let group of groups; let i = index">
  								<div class="row small-padding" *ngIf='i%3==0'>
  									<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 ">
  										<div class='project wow animated animated4 fadeInLeft round mx-1' [ngStyle]="{'background-image': getUrl(groups[i])}">
  											<div class="project-hover">
  												<h2>{{groups[i].name}}</h2>

  												<hr/>
  												<p>{{groups[i].bio}}</p>
  												<br>

  												<a routerLink="/groups/{{groups[i].id}}">See Group</a>
  											</div>
  										</div>
  									</div>
  									<div *ngIf = "i+1 < groups.length" class="col-xl-4 col-lg-4 col-md-4 col-sm-4 " >
  										<div class='project wow animated animated4 fadeInLeft round mx-1' [ngStyle]="{'background-image': getUrl(groups[i+1])}">
  											<div class="project-hover">
  												<h2>{{groups[i+1].name}}</h2>

  												<hr/>
  												<p>{{groups[i+1].bio}}</p>
  												<br>

  												<a routerLink="/groups/{{groups[i+1].id}}">See Group</a>
  											</div>
  										</div>
  									</div>
  									<div *ngIf = "i+2 < groups.length" class="col-xl-4 col-lg-4 col-md-4 col-sm-4 ">
  										<div class='project wow animated animated4 fadeInLeft round mx-1'  [ngStyle]="{'background-image': getUrl(groups[i+2])}">
  											<div class="project-hover">
  												<h2>{{groups[i+2].name}}</h2>

  												<hr/>
  												<p>{{groups[i+2].bio}}</p>
  												<br>

  												<a routerLink="/groups/{{groups[i+2].id}}">See Group</a>
  											</div>
  										</div>
  									</div>
  								</div>

  						</ng-container>
  						</div>
  					</div>

  						<div id='performers' class="white-box-regular" *ngIf="tab == 2" [@enterAnimation]>
  							<h1 class="lobster-font text-center big-text">Performers
                  <button type="button" routerLink="/new/performer" class="btn azm-fourth btn-circle"><i class="fa fa-plus"></i></button>
</h1>

  							<!-- <div class="card-header"> <b> Performers </b>
  								<div class="pull-right">
  									<button type="button" routerLink="/new/performer" class="btn azm-spotify btn-circle"><i class="fa fa-plus"></i></button>
  								</div></div> -->
  							<div class="card-body scrollable" style='position:relative'>

  							<ng-container  *ngFor="let pefrormer of performers; let i = index">
  									<div class="row small-padding" *ngIf='i%3==0'>
  										<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 ">
  											<div class='project wow animated animated4 fadeInLeft round mx-1' [ngStyle]="{'background-image': getUrl(performers[i])}">
  												<div class="project-hover">
  													<h2>{{performers[i].full_name}}</h2>

  													<hr/>
  													<p>{{performers[i].bio}}</p>
  													<br>
  													<br>

  													<a routerLink="/performers/{{performers[i].id}}">See Performer</a>
  												</div>
  											</div>
  										</div>
  										<div *ngIf = "i+1 < performers.length" class="col-xl-4 col-lg-4 col-md-4 col-sm-4 ">
  											<div class='project wow animated animated4 fadeInLeft round mx-1'  [ngStyle]="{'background-image': getUrl(performers[i+1])}">
  												<div class="project-hover">
  													<h2>{{performers[i+1].full_name}}</h2>

  													<hr/>
  													<p>{{performers[i+1].bio}}</p>
  													<br>
  													<br>

  													<a routerLink="/performers/{{performers[i+1].id}}">See Performer</a>
  												</div>
  											</div>
  										</div>
  										<div *ngIf = "i+2 < performers.length" class="col-xl-4 col-lg-4 col-md-4 col-sm-4 " >
  											<div class='project wow animated animated4 fadeInLeft round mx-1' [ngStyle]="{'background-image': getUrl(performers[i+2])}">
  												<div class="project-hover">
  													<h2>{{performers[i+2].full_name}}</h2>
  													<hr/>
  													<p>{{performers[i+2].bio}}</p>
  													<br>
  													<br>

  													<a routerLink="/performers/{{performers[i+2].id}}">See Performer</a>
  												</div>
  											</div>
  										</div>
  									</div>
  							</ng-container>
  							</div>
  						</div>


  							<div id='venues'  class="white-box-regular" *ngIf="tab == 4" [@enterAnimation]>
  								<h1 class="lobster-font text-center big-text">Venues
                    <button type="button" routerLink="/new/venue" class="btn azm-first btn-circle"><i class="fa fa-plus"></i></button>
                    </h1>

  								<!-- <div class="card-header"> <b> Venues </b></div> -->
  								<div class="card-body scrollable" style='position:relative'>
  									<ng-container  *ngFor="let venue of venues; let i = index">
  											<div class="row small-padding" *ngIf='i%3==0'>
  												<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 ">
  													<div class='project wow animated animated4 fadeInLeft round mx-1' [ngStyle]="{'background-image': getUrl(venues[i])}">
  														<div class="project-hover">
  															<h2>{{venues[i].name}}</h2>

  															<hr/>
  															<p>{{venues[i].description}}</p>
  															<br>

  															<a routerLink="/venues/{{venues[i].id}}">See Venue</a>
  														</div>
  													</div>
  												</div>
  												<div *ngIf = "i+1 < venues.length" class="col-xl-4 col-lg-4 col-md-4 col-sm-4 ">
  													<div class='project wow animated animated4 fadeInLeft round mx-1'  [ngStyle]="{'background-image': getUrl(venues[i+1])}">
  														<div class="project-hover">
  															<h2>{{venues[i+1].name}}</h2>

  															<hr/>
  															<p>{{venues[i+1].description}}</p>
  															<br>

  															<a routerLink="/venues/{{venues[i+1].id}}">See Venue</a>
  														</div>
  													</div>
  												</div>
  												<div *ngIf = "i+2 < venues.length" class="col-xl-4 col-lg-4 col-md-4 col-sm-4 " >
  													<div class='project wow animated animated4 fadeInLeft round mx-1' [ngStyle]="{'background-image': getUrl(venues[i+2])}">
  														<div class="project-hover">
  															<h2>{{venues[i+2].name}}</h2>
  															<hr/>
  															<p>{{venues[i+2].description}}</p>
  															<br>
  															<a routerLink="/venues/{{venues[i+2].id}}">See Venue</a>
  														</div>
  													</div>
  												</div>
  											</div>
  									</ng-container>
  								</div>
  							</div>
                <br>


  							</div>
  						</div>
  	</div>
  </div>
</div>
