<div class="container-fluid background-photo no-padding" style="min-height:100vh">
<nav class="navbar navbar-expand-lg white-box-navbar">
<a class="navbar-brand lobster-font" routerLink="/home">Event World</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav">
  </ul>
</div>
<div class="nav-item active pull-right">
  <a class="nav-link lobster-font" routerLink="/logout">Logout <span class="sr-only">(current)</span></a>
</div>
</nav>
<ng-container *ngIf= 'performer'>
  <div class="container">
    <br>
    <div class="row">

      <div class="col-lg-12">
        <div class="no-padding lib-item" data-category="ui">
          <div class="lib-panel">
            <div class="row box-shadow">
              <div class="col-md-4 photo">
                <img class="lib-img" height="100%" width="100%" src="{{performer.featured_photo}}" >
              </div>
              <div class="col-md-8">
                <div class="lib-row lib-header">
                    <h4>{{performer.full_name}}</h4>
                  <!-- <div class="pull-right">
                    10 <i class="fa fa-thumbs-up"></i>
                    <a routerLink="/performer/{{performer.id}}/edit"> <button> Edit </button></a>
                  </div> -->
                  <div class="lib-header-seperator"></div>
                </div>
                <div class="lib-row lib-desc">
                  <p style='text-align:justify'>{{performer.bio}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row">

      <div class="col-md-6">
        <div class="box-shadow events">
          <div class="panel-body">
            <div class="text-center white-text pt-1">
              <h2> Events </h2>
            </div>

            <div class="table-container">
              <table class="table table-filter">
                <tbody>
                  <ng-container *ngIf='events.length == 0'>
                    <tr data-status="pagado">
                      <td routerLink="">
                        <div class="media text-center">
                          <div class="text-center">
                            <img src="" class="media-photo">
                          </div>
                          <div class="media-body" style='margin-left:5px;'>
                            <span class="media-meta text-center"></span>
                            <h4 class="title events-link">
                               This performer has not participated in any events
                            </h4>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                  <ng-container *ngFor='let event of events'>
                    <tr data-status="pagado">
                      <td routerLink="/events/{{event.id}}">
                        <div class="media">
                          <div class="pull-left">
                            <img src="{{event.featured_photo}}" class="media-photo">
                          </div>
                          <div class="media-body" style='margin-left:5px;'>
                            <span class="media-meta pull-right">{{event.getDate()}}</span>
                            <h4 class="title events-link">
                              {{event.name}}

                            </h4>
                            <p class="summary">{{event.description}}</p>
                          </div>
                        </div>
                      </td>
                    </tr>

                  </ng-container>

                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>

      <div class="col-md-6">
        <div class="box-shadow groups">
          <div class="panel-body">
            <div class="text-center white-text pt-1">
              <h2> Groups </h2>
            </div>

            <div class="table-container">
              <table class="table table-filter">
                <tbody>
                  <ng-container *ngIf='groups.length == 0'>
                    <tr data-status="pagado">
                      <td routerLink="">
                        <div class="media text-center">
                          <div class="text-center">
                            <img src="" class="media-photo">
                          </div>
                          <div class="media-body" style='margin-left:5px;'>
                            <span class="media-meta text-center"></span>
                            <h4 class="title groups-link">
                               This performer is not a member of any groups
                            </h4>
                            <p class="summary">Visit group details to add this performer to a group</p>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                  <ng-container *ngFor='let group of groups'>
                    <tr data-status="pagado">
                      <td routerLink="/groups/{{group.id}}">
                        <div class="media">
                          <div class="pull-left">
                            <img src="{{group.featured_photo}}" class="media-photo">
                          </div>
                          <div class="media-body" style='margin-left:5px;'>
                            <span class="media-meta pull-right"></span>
                            <h4 class="title groups-link">
                              {{group.name}}
                            </h4>
                            <p class="summary">{{group.bio}}</p>
                          </div>
                        </div>
                      </td>
                    </tr>

                  </ng-container>


                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>


</ng-container>
</div>
