<div class="limiter">
  <div class="container-login100">
    <div class="login100-more" style="background-image: url('https://stmed.net/sites/default/files/sydney-opera-house-wallpapers-28915-4527296.jpg');"></div>

    <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">

      <form class="login100-form validate-form" *ngIf="login_active" [formGroup]="loginForm" (ngSubmit)="login()">
        <span class="login100-form-title p-b-59">
          Sign In
        </span>
          <div class="wrap-input100" data-validate="">
            <span class="label-input100"> Email </span>
            <input type="text" class="input100" formControlName="email">
            <span class="focus-input100"> </span>
          </div>
          <div class="error-div" *ngFor="let validation of login_validation_messages.email">
            <h5 class="error-message" *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)"><b>{{validation.message}}</b></h5>
          </div>



        <div class="wrap-input100" data-validate="">
            <span class="label-input100"> Password </span>
              <input type="password" class="input100" formControlName="password">
              <span class="focus-input100"> </span>
        </div>

          <div class="error-div" *ngFor="let validation of login_validation_messages.password">
            <h5 class="error-message" *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)"><b>{{validation.message}}</b></h5>
          </div>


            <br><br>
          <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
              <button class="login100-form-btn" [disabled]="loginForm.status == 'INVALID' " type="submit" >
                Sign In
              </button>
            </div>

            <button (click)='changeView()' class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
              Sign up
              <i class="fa fa-long-arrow-right m-l-5"></i>
            </button>
          </div>



      </form>

          <form class="login100-form" *ngIf="!login_active" [formGroup]="signupForm" (ngSubmit)="signup()">
            <span class="login100-form-title p-b-59">
              Sign Up
            </span>
              <div class="wrap-input100" data-validate="">
                <span class="label-input100"> First name </span>
                <input type="text" class="input100" formControlName="first_name">
                <span class="focus-input100"></span>
              </div>

              <div class="error-div" *ngFor="let validation of signup_validation_messages.first_name">
                <h5 class="error-message" *ngIf="signupForm.get('first_name').hasError(validation.type) && (signupForm.get('first_name').dirty || signupForm.get('first_name').touched)"><b>{{validation.message}}</b></h5>
              </div>

              <div class="wrap-input100" data-validate="">
                <span class="label-input100"> Last name </span>
                <input type="text" class="input100" formControlName="last_name">
                <span class="focus-input100"></span>
              </div>

              <div class="error-div" *ngFor="let validation of signup_validation_messages.last_name">
                <h5 class="error-message" *ngIf="signupForm.get('last_name').hasError(validation.type) && (signupForm.get('last_name').dirty || signupForm.get('last_name').touched)"><b>{{validation.message}}</b></h5>
              </div>

              <div class="wrap-input100" data-validate="">
                <span class="label-input100"> Username </span>
                <input type="text" class="input100" formControlName="username">
                <span class="focus-input100"></span>
              </div>

              <div class="error-div" *ngFor="let validation of signup_validation_messages.username">
                <h5 class="error-message" *ngIf="signupForm.get('username').hasError(validation.type) && (signupForm.get('username').dirty || signupForm.get('username').touched)"><b>{{validation.message}}</b></h5>
              </div>

              <div class="wrap-input100" data-validate="">
                <span class="label-input100"> Email </span>
                <input type="text" class="input100" formControlName="email">
                <span class="focus-input100"></span>
              </div>

              <div class="error-div" *ngFor="let validation of signup_validation_messages.email">
                <h5 class="error-message" *ngIf="signupForm.get('email').hasError(validation.type) && (signupForm.get('email').dirty || signupForm.get('email').touched)"><b>{{validation.message}}</b></h5>
              </div>


              <div class="wrap-input100" data-validate="">
                <span class="label-input100"> Password </span>
                <input type="password" class="input100" formControlName="password">
                <span class="focus-input100"></span>
              </div>

              <div class="error-div" *ngFor="let validation of signup_validation_messages.password">
                <h5 class="error-message" *ngIf="signupForm.get('password').hasError(validation.type) && (signupForm.get('password').dirty || signupForm.get('password').touched)"><b>{{validation.message}}</b></h5>
              </div>

              <div class="wrap-input100" data-validate="">
                <span class="label-input100"> Password confirmation </span>
                <input type="password" class="input100" formControlName="password_confirm">
                <span class="focus-input100"></span>
              </div>

              <h5 class="error-message" *ngIf="signupForm.errors?.password_confirm && (signupForm.get('password_confirm').dirty || signupForm.get('password_confirm').touched) && (signupForm.get('password').dirty || signupForm.get('password').touched)">
                <b>Password and password confirmation do not match.</b>
              </h5>

              <div class="error-div" *ngFor="let validation of signup_validation_messages.password_confirm">
                <h5 class="error-message" *ngIf="signupForm.get('password_confirm').hasError(validation.type) && (signupForm.get('password_confirm').dirty || signupForm.get('password_confirm').touched)"><b>{{validation.message}}</b></h5>
              </div>
              <br>

  <br><br>
              <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                  <div class="login100-form-bgbtn"></div>
                  <button class="login100-form-btn" [disabled]="signupForm.status == 'INVALID' " type="submit" >
                    Sign Up
                  </button>
                </div>


                <a (click)='changeView()' class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
                 Sign in
                  <i class="fa fa-long-arrow-right m-l-5"></i>
                </a>
              </div>
          </form>


      <!-- <form class="login100-form validate-form">
        <span class="login100-form-title p-b-59">
          Sign Up
        </span>

        <div class="wrap-input100 validate-input" data-validate="Name is required">
          <span class="label-input100">Full Name</span>
          <input class="input100" type="text" name="name" placeholder="Name...">
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
          <span class="label-input100">Email</span>
          <input class="input100" type="text" name="email" placeholder="Email addess...">
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Username is required">
          <span class="label-input100">Username</span>
          <input class="input100" type="text" name="username" placeholder="Username...">
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate = "Password is required">
          <span class="label-input100">Password</span>
          <input class="input100" type="text" name="pass" placeholder="*************">
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate = "Repeat Password is required">
          <span class="label-input100">Repeat Password</span>
          <input class="input100" type="text" name="repeat-pass" placeholder="*************">
          <span class="focus-input100"></span>
        </div>

        <div class="flex-m w-full p-b-33">
          <div class="contact100-form-checkbox">
            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
            <label class="label-checkbox100" for="ckb1">
              <span class="txt1">
                I agree to the
                <a href="#" class="txt2 hov1">
                  Terms of User
                </a>
              </span>
            </label>
          </div>


        </div>

        <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn">
              Sign Up
            </button>
          </div>

          <a href="#" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
            Sign in
            <i class="fa fa-long-arrow-right m-l-5"></i>
          </a>
        </div>
      </form> -->
    </div>
  </div>
</div>
