<!-- Just an image -->
<div class="container-fluid background-photo no-padding" style="min-height:100vh" [@enterAnimation]>
	<nav class="navbar navbar-expand-lg white-box-navbar">
	<a class="navbar-brand lobster-font">Event World</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
		</ul>
	</div>
	<div class="nav-item active pull-right">
		<a class="nav-link lobster-font" routerLink="/logout">Logout <span class="sr-only">(current)</span></a>
	</div>
</nav>
	<div class="row navigation"  id='landing_tab' [@mainAnimation]>
		<div class="col-lg-1"></div>
		<div class="col text-center white-box-left">
			<a routerLink="/explore" style="opacity:1;" class="btn azm-social azm-size-256 azm-circle azm-long-shadow azm-first"><i class="fa fa-compass"></i></a>
			<br>
			<h2 class="lobster-font">Explore</h2>
		</div>
		<div class="col text-center white-box-center">
			<a routerLink="/dashboard" style="opacity:1;" class="btn azm-social azm-size-256 azm-circle azm-long-shadow azm-second"><i class="fa fa-th"></i></a>
			<br>
			<h2 class="lobster-font">Dashboard</h2>

		</div>
		<div class="col text-center white-box-right">
			<a routerLink="/profile" style="opacity:1;" class="btn azm-social azm-size-256 azm-circle azm-long-shadow azm-third"><i class="fa fa-user"></i></a>
			<br>
			<h2 class="lobster-font ">Profile and requests</h2>

		</div>
		<div class="col-lg-1"></div>
	</div>
</div>
