<div class="container-fluid background-photo no-padding" style="min-height:100vh;">
  <nav class="navbar navbar-expand-lg white-box-navbar">
	<a class="navbar-brand lobster-font" routerLink="/home">Event World</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
		</ul>
	</div>
	<div class="nav-item active pull-right">
		<a class="nav-link lobster-font" routerLink="/logout">Logout <span class="sr-only">(current)</span></a>
	</div>
</nav>
<br><br>
<ng-container *ngIf= 'venue'>
  <div class="container">
    <br>
    <div class="row">

      <div class="col-lg-12">
        <div class="lib-item" data-category="ui">
          <div class="lib-panel">
            <div class="row box-shadow">
              <div class="col-md-4 no-padding">
                <img class="lib-img" src="{{venue.featured_photo}}">
              </div>
              <div class="col-md-8">
                <div class="lib-row lib-header">
                    <h4>{{venue.name}}</h4>

                  <div class="lib-header-seperator"></div>
                </div>
                <div class="lib-row lib-desc">
                  <p>{{venue.description}}</p>
                  <p>{{venue.address}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row">

      <div class="col-md-6">
        <div class="box-shadow events white-text">
          <div class="panel-body">
            <div class="text-center">
              <h2> Events </h2>
            </div>

            <div class="table-container">
              <table class="table table-filter">
                <tbody>
                  <ng-container *ngIf='events.length == 0'>
                    <tr data-status="pagado">
                      <td>
                        <div class="media text-center">
                          <div class="text-center">
                            <img src="" class="media-photo">
                          </div>
                          <div class="media-body" style='margin-left:5px;'>
                            <span class="media-meta text-center"></span>
                            <h4 class="title events-link">
                              No events on this venue
                            </h4>
                            <p class="summary">If you want to host an event on this venue, create a new event</p>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                  <ng-container *ngFor='let event of events'>
                    <tr data-status="pagado">
                      <td routerLink="/events/{{event.id}}">
                        <div class="media">
                          <div class="pull-left">
                            <img src="{{event.featured_photo}}" class="media-photo">
                          </div>
                          <div class="media-body" style='margin-left:5px;'>
                            <span class="media-meta pull-right">{{event.getDate()}}</span>
                            <h4 class="title events-link">
                              {{event.name}}

                            </h4>
                            <p class="summary">{{event.description}}</p>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </ng-container>

                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>

      <div class="col-md-6">
        <div class="box-shadow venues white-text">
          <div class="panel-body">
            <div class="text-center">
              <h2> Location </h2>
            </div>

            <div class="table-container">
              <table class="table table-filter">
                <tbody>
                  <tr data-status="pagado">
                    <td>
                      <div class="media text-center">
                        <div class="text-center">
                          <img src="" class="media-photo">
                        </div>
                        <div class="media-body" style='margin-left:5px;'>
                          <span class="media-meta text-center"></span>
                          <h4 class="title venues-link">
                            Address
                          </h4>
                          <p class="summary">{{venue.address}}</p>
                        </div>
                      </div>
                    </td>
                  </tr>
                <ng-container *ngIf='venue'>
                  <agm-map [latitude]="venue.latitude" [longitude]="venue.longitude">
                    <agm-marker [latitude]="venue.latitude" [longitude]="venue.longitude"></agm-marker>
                  </agm-map>
                </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>



</ng-container>

</div>
