<div class="container-fluid background-photo no-padding" style="min-height:100vh;">
	<nav class="navbar navbar-expand-lg white-box-navbar">
	<a class="navbar-brand lobster-font" routerLink="/home">Event World</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
		</ul>
	</div>
	<div class="nav-item active pull-right">
		<a class="nav-link lobster-font" routerLink="/logout">Logout <span class="sr-only">(current)</span></a>
	</div>
</nav>
  <br><br>
	<ng-container *ngIf= 'event'>
	<div class="container" style="margin-top:0px">
		<br>
		<div class="row">

			<div class="col-lg-12">
				<div class="no-padding lib-item" data-category="ui">
					<div class="lib-panel">
						<div class="row box-shadow">
							<div class="col-md-4 photo">
								<img class="lib-img" src="{{event.featured_photo}}">
							</div>
							<div class="col-md-8">
								<div class="lib-row lib-header">
									<h4>{{event.name}}</h4>

									<div class="lib-header-seperator"></div>
								</div>
								<div class="lib-row lib-desc">
									<p>{{event.description}}</p>
									<p> {{event.getDate()}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="row">

			<div class="col-md-6">
				<div class="box-shadow venues white-text">
					<div class="panel-body">
						<div class="text-center">
							<h2> Venue </h2>
						</div>


						<div class="table-container">
							<table class="table table-filter">
								<tbody>
									<ng-container *ngIf='venue.id == undefined'>
										<tr data-status="pagado">
											<td>
												<div class="media text-center">
													<div class="text-center">
														<img src="" class="media-photo">
													</div>
													<div class="media-body" style='margin-left:5px;'>
														<span class="media-meta text-center"></span>
														<h4 class="title venues-link">
															No Venue on this Event
														</h4>
														<p class="summary">Wait for the owner of the event to add a Venue</p>
													</div>
												</div>
											</td>
										</tr>
									</ng-container>

									<ng-container *ngIf='venue.id != undefined'>

										<tr data-status="pagado">
											<td routerLink="/venues/{{venue.id}}">
												<div class="media">
													<a class="pull-left llink">
														<img src="{{venue.featured_photo}}" class="media-photo">
													</a>
													<div class="media-body" style='margin-left:5px;'>
														<span class="media-meta pull-right"></span>
														<h4 class="title venues-link">
															{{venue.name}}
														</h4>
														<p class="summary">{{venue.address}}</p>
													</div>
												</div>
											</td>
										</tr>
										<!-- <agm-map [latitude]="venue.latitude" [longitude]="venue.longitude">
										<agm-marker [latitude]="venue.latitude" [longitude]="venue.longitude"></agm-marker>
									</agm-map> -->
								</ng-container>

							</tbody>
						</table>
					</div>

				</div>
			</div>

			<br>


			<div class="box-shadow events white-text">
				<div class="panel-body">
					<div class="text-center">
						<h2> Tickets </h2>
					</div>

					<div class="table-container">
						<table class="table table-filter">
							<tbody>
								<ng-container *ngIf='event'>
									<ng-container *ngIf='event.user_id != token.user_id' >
									<tr data-status="pagado">
										<td routerLink="/venues/{{venue.id}}">
											<div class="media">
												<a class="pull-left llink">
													<img src="http://emberensemble.org/assets/images/static/tickets.png" class="media-photo">
												</a>
												<ng-container *ngIf='event.tickets_remaining == 0'>
													<div class="media-body" style='margin-left:5px;'>
														<span class="media-meta pull-right"></span>
														<h4 class="title events-link">
															There are no more tickets remaining
														</h4>
														<p class="summary"> Next time be faster!</p>
													</div>
												</ng-container>
												<ng-container *ngIf='event.tickets_remaining > 0'>
													<div class="media-body" style='margin-left:5px;'>
														<span class="media-meta pull-right"></span>
														<h4 class="title events-link">
															There are {{event.tickets_remaining}} tickets remaining
														</h4>
														<p class="summary"> Make sure you don't miss your chance to make a reservation</p>
													</div>
												</ng-container>

											</div>
										</td>
									</tr>
									<ng-container *ngIf='event.tickets_remaining > 0'>
									<tr>
										<td style='color:black;'>
											<form>
												<div class="form-group">
													<label for="exampleInputEmail1">Enter message</label>
													<input type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="reservation_message" aria-describedby="emailHelp" [ngModelOptions]="{standalone: true}">
												</div>
												<div class="form-group">
													<label for="exampleInputPassword1">Number of Tickets</label>
													<input type="number" class="form-control"  min="1" max="{{event.tickets_remaining}}" [(ngModel)]="number_of_tickets" [ngModelOptions]="{standalone: true}">
												</div>
												<button type="button" (click)="request_reservation()" class="btn btn-primary">Submit</button>
											</form>
										</td>
									</tr>
									</ng-container>
								</ng-container>
								<ng-container *ngIf='event.user_id == token.user_id'>
									<tr data-status="pagado">
										<td>
											<div class="media">
												<a class="pull-left llink">
													<img src="http://emberensemble.org/assets/images/static/tickets.png" class="media-photo">
												</a>
													<div class="media-body" style='margin-left:5px;'>
														<span class="media-meta pull-right"></span>
														<h4 class="title events-link">
														You are the owner of this event.
														</h4>
														<p class="summary"> Check for ticket reservations on your profile!</p>
													</div>

											</div>
										</td>
									</tr>
								</ng-container>
								</ng-container>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="box-shadow">
				<div class="panel-body">
					<div class="row " style='margin: 0px;'>
						<div class="col pt-1  white-text performers text-center" style="border-radius: 10px 0px 0px 0px;">
							<h2 (click)='tabSwitch(1)' class=" btn-block">Performers</h2>
						</div>
						<div class=" white-text groups col pt-1 text-center"  style="border-radius: 0px 10px 0px 0px;">
							<h2 (click)="tabSwitch(2)" class=" btn-block ">Groups</h2>
						</div>
					</div>
					<div class="table-container">
						<table class="table table-filter">
							<tbody>
								<ng-container *ngIf='tab == 1'>
									<ng-container *ngIf='event.single_participants.length == 0'>
										<tr data-status="pagado">
											<td>
												<div class="media text-center">
													<div class="text-center">
														<img src="" class="media-photo">
													</div>
													<div class="media-body" style='margin-left:5px;'>
														<span class="media-meta text-center"></span>
														<h4 class="title performers-link">
															No Performers on this Event
														</h4>
														<p class="summary">Check out groups or wait for the owner to add performers</p>
													</div>
												</div>
											</td>
										</tr>
									</ng-container>
									<ng-container *ngFor='let performer of event.single_participants'>
										<tr data-status="pagado">
											<td routerLink="/performers/{{performer.id}}">
												<div class="media">
													<a class="pull-left llink">
														<img src="{{performer.photo_url}}" class="media-photo">
													</a>
													<div class="media-body" style='margin-left:5px;'>
														<span class="media-meta pull-right"></span>
														<h4 class="title performers-link">
															{{performer.full_name}}
														</h4>
														<p class="summary">{{performer.bio}}</p>
													</div>
												</div>
											</td>
										</tr>
									</ng-container>
								</ng-container>


								<ng-container *ngIf='tab == 2'>
									<ng-container *ngIf='event.group_participants.length == 0'>
										<tr data-status="pagado">
											<td>
												<div class="media text-center">
													<div class="text-center">
														<img src="" class="media-photo">
													</div>
													<div class="media-body" style='margin-left:5px;'>
														<span class="media-meta text-center"></span>
														<h4 class="title groups-link">
															No groups on this Event
														</h4>
														<p class="summary">Go to performers or wait for the owner to add groups</p>
													</div>
												</div>
											</td>
										</tr>
									</ng-container>
									<ng-container *ngFor='let group of event.group_participants'>
										<tr data-status="pagado">
											<td routerLink="/groups/{{group.id}}">
												<div class="media">
													<a class="pull-left llink">
														<img src="{{group.photo_url}}" class="media-photo">
													</a>
													<div class="media-body" style='margin-left:5px;'>
														<span class="media-meta pull-right"></span>
														<h4 class="title groups-link">
															{{group.name}}
														</h4>
														<p class="summary">{{group.bio}}</p>
													</div>
												</div>
											</td>
										</tr>
									</ng-container>
								</ng-container>

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</ng-container>
</div>
