<div class="container-fluid background-photo no-padding" style="min-height:100vh;">
  <nav class="navbar navbar-expand-lg white-box-navbar">
	<a class="navbar-brand lobster-font" routerLink="/home">Event World</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
		</ul>
	</div>
	<div class="nav-item active pull-right">
		<a class="nav-link lobster-font" routerLink="/logout">Logout <span class="sr-only">(current)</span></a>
	</div>
</nav>
<br><br>
<ng-container *ngIf= 'group'>
  <div class="container">
    <br>
    <div class="row">

      <div class="col-lg-12">
        <div class="no-padding lib-item" data-category="ui">
          <div class="lib-panel">
            <div class="row box-shadow">
              <div class="col-md-4 photo">
                <img class="lib-img" src="{{group.featured_photo}}">
              </div>
              <div class="col-md-8">
                <div class="lib-row lib-header">
                  <h4>{{group.name}}</h4>

                  <div class="lib-header-seperator"></div>
                </div>
                <div class="lib-row lib-desc">
                  <p>{{group.bio}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row">

      <div class="col-md-6">
        <div class="box-shadow events">
          <div class="panel-body">
            <div class="text-center white-text pt-1">
              <h2> Events </h2>
            </div>

            <div class="table-container">
              <table class="table table-filter">
                <tbody>
                  <ng-container *ngIf='events.length == 0'>
                    <tr data-status="pagado">
                      <td>
                        <div class="media text-center">
                          <div class="text-center">
                            <img src="" class="media-photo">
                          </div>
                          <div class="media-body" style='margin-left:5px;'>
                            <span class="media-meta text-center"></span>
                            <h4 class="title events-link">
                              This group has not participated in any events
                            </h4>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                  <ng-container *ngFor='let event of events'>
                    <tr data-status="pagado">
                      <td routerLink="/events/{{event.id}}">
                        <div class="media">
                          <div class="pull-left">
                            <img src="{{event.featured_photo}}" class="media-photo">
                          </div>
                          <div class="media-body" style='margin-left:5px;'>
                            <span class="media-meta pull-right">{{event.getDate()}}</span>
                            <h4 class="title events-link">
                              {{event.name}}

                            </h4>
                            <p class="summary">{{event.description}}</p>
                          </div>
                        </div>
                      </td>
                    </tr>

                  </ng-container>

                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>


      <div class="col-md-6">
        <div class="box-shadow performers">
          <div class="panel-body">
            <div class="text-center white-text pt-1">
              <h2> Performers </h2>
            </div>

            <div class="table-container">
              <table class="table table-filter">
                <tbody>
                  	<ng-container *ngIf='group.user_id == token.user_id' >
                  <tr>
                    <td>
                      <div class="text-center">
                        <button type="button" class='btn performers white-text' (click)="changeView()" name="button">{{text}}</button>
                      </div>
                    </td>
                  </tr>
                  </ng-container>


                  <ng-container *ngIf='!adding'>
                    <ng-container *ngIf='performers.length == 0'>
                      <tr data-status="pagado">
                        <td>
                          <div class="media text-center">
                            <div class="text-center">
                              <img src="" class="media-photo">
                            </div>
                            <div class="media-body" style='margin-left:5px;'>
                              <span class="media-meta text-center"></span>
                              <h4 class="title performers-link">
                                This group does not have any performers
                              </h4>
                              <p class="summary">If you created the group, add performers using the button above</p>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </ng-container>
                    <ng-container *ngFor='let performer of performers'>
                      <tr data-status="pagado">
                        <td routerLink="/performers/{{performer.id}}">
                          <div class="media">
                            <a class="pull-left">
                              <img src="{{performer.featured_photo}}" class="media-photo">
                            </a>
                            <div class="media-body" style='margin-left:5px;'>
                              <span class="media-meta pull-right"></span>
                              <h4 class="title performers-link">
                                {{performer.full_name}}
                              </h4>
                              <p class="summary">{{performer.bio}}</p>
                            </div>
                          </div>
                        </td>
                      </tr>

                    </ng-container>
                  </ng-container>


                  <ng-container *ngIf='adding'>
                    <ng-container *ngIf='performersNotInGroup.length == 0'>
                      <tr data-status="pagado">
                        <td>
                          <div class="media text-center">
                            <div class="text-center">
                              <img src="" class="media-photo">
                            </div>
                            <div class="media-body" style='margin-left:5px;'>
                              <span class="media-meta text-center"></span>
                              <h4 class="title performers-link">
                                No more performers to add
                              </h4>
                              <p class="summary">If you want to add more performers, create some new ones</p>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </ng-container>
                    <ng-container *ngFor='let performer of performersNotInGroup'>
                      <tr data-status="pagado">
                        <td>
                          <div class="media">
                            <a class="pull-left">
                              <img src="{{performer.featured_photo}}" class="media-photo" routerLink="/performers/{{performer.id}}">
                            </a>
                            <div class="media-body" style='margin-left:5px;'>
                              <span class="media-meta pull-right">
                                <button type="button" (click)="addPerformerToGroup(performer.id)" class="btn performers white-text btn-sm">Add to Group</button>
                              </span>
                              <h4 class="title performers-link" routerLink="/performers/{{performer.id}}">
                                {{performer.full_name}}
                              </h4>
                              <p class="summary">{{performer.bio}}</p>

                            </div>
                          </div>
                        </td>
                      </tr>

                    </ng-container>
                  </ng-container>


                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>


</ng-container>
</div>
