<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>


<nav class="navbar navbar-expand-lg white-box-navbar">
<a class="navbar-brand lobster-font" routerLink="/home">Event World</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav">
  </ul>
</div>
<div class="nav-item active pull-right">
  <a class="nav-link lobster-font" routerLink="/logout">Logout <span class="sr-only">(current)</span></a>
</div>
</nav>

<div class="container-fluid background-photo  no-padding" style="min-height:100vh" *ngIf='view == 2' id='performer' >
  <br>
  <div class="row pt-3">
    <div class="col-lg-1"></div>
    <div class="col-lg-5">

      <div class="card">
        <div class="card-header performers"> New Performer </div>
        <div class="card-body">
          <form class="" [formGroup]="performerForm" (ngSubmit)="createPerformer()">
            <div class="form-group" data-validate="">
              <label for="email"> First Name </label>
              <div class="input-group">
                <input type="text" class="form-control border-right-0" formControlName="first_name">
                <div class="input-group-prepend bg-white">
                  <span class="input-group-text border-left-0 rounded-right bg-white" ><i *ngIf="this.performerForm.get('first_name').invalid && (performerForm.get('first_name').dirty || performerForm.get('first_name').touched)" class="fa fa-warning red-warning"></i></span>
                </div>
              </div>
            </div>
            <div class="error-div" *ngFor="let validation of performer_validation_messages.first_name">
              <h5 class="error-message" *ngIf="performerForm.get('first_name').hasError(validation.type) && (performerForm.get('first_name').dirty || performerForm.get('first_name').touched)"><b>{{validation.message}}</b></h5>
            </div>

            <div class="form-group" data-validate="">
              <label for="last_name"> Last Name </label>
              <div class="input-group">
                <input type="text" class="form-control border-right-0" formControlName="last_name">
                <div class="input-group-prepend bg-white">
                  <span class="input-group-text border-left-0 rounded-right bg-white" ><i *ngIf="this.performerForm.get('last_name').invalid && (performerForm.get('last_name').dirty || performerForm.get('last_name').touched)" class="fa fa-warning red-warning"></i></span>
                </div>
              </div>
            </div>

            <div class="error-div" *ngFor="let validation of performer_validation_messages.last_name">
              <h5 class="error-message" *ngIf="performerForm.get('last_name').hasError(validation.type) && (performerForm.get('last_name').dirty || performerForm.get('last_name').touched)"><b>{{validation.message}}</b></h5>
            </div>

            <div class="form-group" data-validate="">
              <label for="Password"> Bio </label>
              <div class="input-group">
                <textarea class="form-control" rows="5" id="comment" formControlName='bio'></textarea>
              </div>
            </div>
            <div class="error-div" *ngFor="let validation of performer_validation_messages.bio">
              <h5 class="error-message" *ngIf="performerForm.get('bio').hasError(validation.type) && (performerForm.get('bio').dirty || performerForm.get('bio').touched)"><b>{{validation.message}}</b></h5>
            </div>
            <br>
            <br>
            <div class="input-group image-preview">
              <input type="text" class="form-control image-preview-filename" formControlName="current_file"  disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
              <span class="input-group-btn">
                <!-- image-preview-input -->
                <div class="btn btn-default image-preview-input">
                  <span class="glyphicon glyphicon-folder-open"></span>
                  <span class="image-preview-input-title">Browse</span>
                  <input type="file" accept="image/png, image/jpeg, image/gif" name="input-file-preview" (change)="onFileChanged($event)"/> <!-- rename it -->
                </div>
              </span>
            </div>

            <br>

            <ng-container *ngIf='url'>
              <div class="input-group">
                <!-- <button type="button" class="btn btn-primary" style='margin-right:1vw;' (click)="open(content)">See File Preview</button> -->
                <button type="button" class="btn btn-danger" (click)="clearFile()">Clear Selection</button>
              </div>
            </ng-container>

            <br>
            <div class="text-center">
              <button  type="submit" class="btn performers btn-block">
                Create Performer
              </button>
            </div>
            <br>
          </form>
        </div>
      </div>

    </div>

    <div class="col-lg-5">
      <div class="col-lg-1"></div>

      <div class="card">
        <div class="card-header">
          Image preview
        </div>
        <div class="card-body no-padding">
          <ng-container *ngIf='url'>
            <img src="{{url}}" width='100%' height='100%' alt="">

          </ng-container>
          <ng-container *ngIf='!url'>
            <img src="https://www.nationalpetregister.org/assets/img/no-photo.jpg" width='100%' height='100%' alt="">

          </ng-container>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container-fluid background-photo no-padding" style="min-height:100vh" *ngIf='view == 3' id='group'>
  <br>
  <div class="row pt-3">
    <div class="col-lg-1"></div>
    <div class="col-lg-5">
      <div  class="card">
        <div class="card-header groups white-text"> New Group </div>
        <div class="card-body">
          <form [formGroup]="groupForm" (ngSubmit)="createGroup()">
            <div class="form-group" data-validate="">
              <label for="email"> Name </label>
              <div class="input-group">
                <input type="text" class="form-control border-right-0" formControlName="name">
                <div class="input-group-prepend bg-white">
                  <span class="input-group-text border-left-0 rounded-right bg-white" ><i *ngIf="this.groupForm.get('name').invalid && (groupForm.get('name').dirty || groupForm.get('name').touched)" class="fa fa-warning red-warning"></i></span>
                </div>
              </div>
            </div>
            <div class="error-div" *ngFor="let validation of group_validation_messages.name">
              <h5 class="error-message" *ngIf="groupForm.get('name').hasError(validation.type) && (groupForm.get('name').dirty || groupForm.get('name').touched)"><b>{{validation.message}}</b></h5>
            </div>

            <div class="form-group" data-validate="">
              <label for="Password"> Bio </label>
              <div class="input-group">
                <textarea class="form-control" rows="5" id="comment" formControlName='bio'></textarea>
              </div>
            </div>
            <div class="error-div" *ngFor="let validation of group_validation_messages.bio">
              <h5 class="error-message" *ngIf="groupForm.get('bio').hasError(validation.type) && (groupForm.get('bio').dirty || groupForm.get('bio').touched)"><b>{{validation.message}}</b></h5>
            </div>
            <br>
            <br>
            <div class="input-group image-preview">
              <input type="text" class="form-control image-preview-filename" formControlName="current_file"  disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
              <span class="input-group-btn">
                <!-- image-preview-input -->
                <div class="btn groups white-text btn-default image-preview-input">
                  <span class="glyphicon glyphicon-folder-open"></span>
                  <span class="image-preview-input-title">Browse</span>
                  <input type="file" accept="image/png, image/jpeg, image/gif" name="input-file-preview" (change)="onFileChanged($event)"/> <!-- rename it -->
                </div>
              </span>
            </div>

            <br>

            <ng-container *ngIf='url'>
              <div class="input-group">
                <button type="button" class="btn btn-danger" (click)="clearFile()">Clear Selection</button>
              </div>
            </ng-container>

            <br>
            <div class="text-center">
              <button  type="submit" class="btn white-text groups btn-block">
                Create Group
              </button>
            </div>
            <br>
          </form>
        </div>
      </div>

    </div>
    <div class="col-lg-5">
      <div class="col-lg-1"></div>


      <div class="card">
        <div class="card-header">
          Image preview
        </div>
        <div class="card-body no-padding">
          <ng-container *ngIf='url'>
            <img src="{{url}}" width='100%' height='100%' alt="">

          </ng-container>
          <ng-container *ngIf='!url'>
            <img src="https://www.nationalpetregister.org/assets/img/no-photo.jpg" width='100%' height='100%' alt="">

          </ng-container>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container-fluid background-photo no-padding" style="min-height:100vh" *ngIf='view == 4' id='venue'>
  <br>
  <div class="row pt-3">
    <div class="col-lg-1"></div>
    <div class="col-lg-5">
      <div  class="card">
        <div class="card-header venues white-text"> Create a new Venue </div>
        <div class="card-body">
          <form class="" [formGroup]="venueForm" (ngSubmit)="createVenue()">
            <div class="form-group" data-validate="">
              <label for="email"> Name </label>
              <div class="input-group">
                <input type="text" class="form-control border-right-0" formControlName="name" >
                <div class="input-group-prepend bg-white">
                  <span class="input-group-text border-left-0 rounded-right bg-white" ><i *ngIf="this.venueForm.get('name').invalid && (venueForm.get('name').dirty || venueForm.get('name').touched)" class="fa fa-warning red-warning"></i></span>
                </div>
              </div>
            </div>
            <div class="error-div" *ngFor="let validation of venue_validation_messages.name">
              <h5 class="error-message" *ngIf="venueForm.get('name').hasError(validation.type) && (venueForm.get('name').dirty || venueForm.get('name').touched)"><b>{{validation.message}}</b></h5>
            </div>

            <div class="form-group" data-validate="">
              <label for="email"> Address </label>
              <div class="input-group">
                <input type="text" class="form-control border-right-0" formControlName="address" (ngModelChange)="valuechange($event)">
                <div class="input-group-prepend bg-white">
                  <span class="input-group-text border-left-0 rounded-right bg-white" ><i *ngIf="this.venueForm.get('address').invalid && (venueForm.get('address').dirty || venueForm.get('address').touched)" class="fa fa-warning red-warning"></i></span>
                </div>
              </div>
            </div>
            <div class="error-div" *ngFor="let validation of venue_validation_messages.address">
              <h5 class="error-message" *ngIf="venueForm.get('address').hasError(validation.type) && (venueForm.get('address').dirty || venueForm.get('address').touched)"><b>{{validation.message}}</b></h5>
            </div>

            <div class="form-group" data-validate="">
              <label for="email"> Max capacity </label>
              <div class="input-group">
                <input type="text" class="form-control border-right-0" formControlName="capacity" >
                <div class="input-group-prepend bg-white">
                  <span class="input-group-text border-left-0 rounded-right bg-white" ><i *ngIf="this.venueForm.get('capacity').invalid && (venueForm.get('capacity').dirty || venueForm.get('capacity').touched)" class="fa fa-warning red-warning"></i></span>
                </div>
              </div>
            </div>
            <div class="error-div" *ngFor="let validation of venue_validation_messages.capacity">
              <h5 class="error-message" *ngIf="venueForm.get('capacity').hasError(validation.type) && (venueForm.get('capacity').dirty || venueForm.get('capacity').touched)"><b>{{validation.message}}</b></h5>
            </div>


            <div class="form-group" data-validate="">
              <label for="Password"> Description </label>
              <div class="input-group">
                <textarea class="form-control" rows="5" id="comment" formControlName='description'></textarea>
              </div>
            </div>
            <div class="error-div" *ngFor="let validation of venue_validation_messages.description">
              <h5 class="error-message" *ngIf="venueForm.get('description').hasError(validation.type) && (venueForm.get('description').dirty || venueForm.get('description').touched)"><b>{{validation.message}}</b></h5>
            </div>
            <br>
            <br>
            <div class="input-group image-preview">
              <input type="text" class="form-control image-preview-filename" formControlName="current_file"  disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
              <span class="input-group-btn">
                <!-- image-preview-input -->
                <div class="btn venues white-text image-preview-input">
                  <span class="glyphicon glyphicon-folder-open"></span>
                  <span class="image-preview-input-title">Browse</span>
                  <input type="file" accept="image/png, image/jpeg, image/gif" name="input-file-preview" (change)="onFileChanged($event)"/> <!-- rename it -->
                </div>
              </span>
            </div>

            <br>

            <ng-container *ngIf='url'>
              <div class="input-group">
                <button type="button" class="btn btn-danger" (click)="clearFile()">Clear Selection</button>
              </div>
            </ng-container>

            <br>
            <div class="text-center">
              <button  type="submit" class="btn venues white-text btn-block">
                Create Venue
              </button>
            </div>
            <br>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="card">
        <div class="card-header">
          Location
        </div>
        <div class="card-body no-padding">
          <agm-map [latitude]="lat" [longitude]="lng">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>
        </div>
      </div>
  <br>
      <div class="card">
        <div class="card-header">
          Image preview
        </div>
        <div class="card-body no-padding">
          <ng-container *ngIf='url'>
            <img src="{{url}}" width='100%' height='100%' alt="">

          </ng-container>
          <ng-container *ngIf='!url'>
            <img src="https://www.nationalpetregister.org/assets/img/no-photo.jpg" width='100%' height='100%' alt="">

          </ng-container>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="container-fluid background-photo no-padding" style="min-height:100vh" *ngIf='view == 1' id='event'>
  <br>
  <div class="row pt-3" *ngIf='createEventStep == 1' >
    <div class="col-lg-1"></div>
    <div  class="col-lg-5">

      <div  class="card">
        <div class="card-header white-text events"> Create a new event </div>
        <div class="card-body">
          <form class="" [formGroup]="eventForm" (ngSubmit)="createEvent()">
            <div class="form-group" data-validate="">
              <label for="email"> Name </label>
              <div class="input-group">
                <input type="text" class="form-control border-right-0" formControlName="name" >
                <div class="input-group-prepend bg-white">
                  <span class="input-group-text border-left-0 rounded-right bg-white" ><i *ngIf="this.eventForm.get('name').invalid && (eventForm.get('name').dirty || eventForm.get('name').touched)" class="fa fa-warning red-warning"></i></span>
                </div>
              </div>
            </div>
            <div class="error-div" *ngFor="let validation of event_validation_messages.name">
              <h5 class="error-message" *ngIf="eventForm.get('name').hasError(validation.type) && (eventForm.get('name').dirty || eventForm.get('name').touched)"><b>{{validation.message}}</b></h5>
            </div>
            <div class="form-group" data-validate="">
              <label for="date"> Date </label>
              <my-date-picker name="date" [options]="myDatePickerOptions"
                      formControlName="date">
              </my-date-picker>
            </div>
            <div class="form-group" data-validate="">
              <label for="Password"> Description </label>
              <div class="input-group">
                <textarea class="form-control" rows="5" id="comment" formControlName='description'></textarea>
              </div>
            </div>
            <div class="error-div" *ngFor="let validation of event_validation_messages.description">
              <h5 class="error-message" *ngIf="eventForm.get('description').hasError(validation.type) && (eventForm.get('description').dirty || eventForm.get('description').touched)"><b>{{validation.message}}</b></h5>
            </div>
            <br>
            <br>
            <div class="input-group image-preview">
              <input type="text" class="form-control image-preview-filename" formControlName="current_file"  disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
              <span class="input-group-btn">
                <!-- image-preview-input -->
                <div class="btn events white-text image-preview-input">
                  <span class="glyphicon glyphicon-folder-open"></span>
                  <span class="image-preview-input-title">Browse</span>
                  <input type="file" accept="image/png, image/jpeg, image/gif" name="input-file-preview" (change)="onFileChanged($event)"/> <!-- rename it -->
                </div>
              </span>
            </div>

            <br>

            <ng-container *ngIf='url'>
              <div class="input-group">
                <button type="button" class="btn btn-danger" (click)="clearFile()">Clear Selection</button>
              </div>
            </ng-container>

            <br>
            <div class="text-center">
              <button  type="submit" class="btn events white-text btn-block">
                Next Step
              </button>
            </div>
            <br>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-5">

      <div class="col-lg-1"></div>

      <div class="card">
        <div class="card-header">
          Image preview
        </div>
        <div class="card-body no-padding">
          <ng-container *ngIf='url'>
            <img src="{{url}}" width='100%' height='100%' alt="">

          </ng-container>
          <ng-container *ngIf='!url'>
            <img src="https://www.nationalpetregister.org/assets/img/no-photo.jpg" width='100%' height='100%' alt="">

          </ng-container>
        </div>
      </div>

    </div>
  </div>

  <div class="row pt-3" *ngIf='createEventStep == 2' >
    <div class="col-lg-1"></div>
    <div class="col-md-5">
      <div class="box-shadow venues text-center">
        <div class="panel-body">
          <div class="text-center white-text">
            <h2> Select Venue </h2>
          </div>

          <div class="table-container">
            <table class="table table-filter">
              <tbody>
                <ng-container *ngFor='let venue of venues;let i = index'>
                  <tr data-status="pagado" [ngClass]="{'venues': venue.id == id_of_venue }" >
                    <td>
                      <div class="media"  (click)='venueClick(i,venue.id)' >
                        <a href="#" class="pull-left">
                          <img src="{{venue.featured_photo}}" class="media-photo">
                        </a>
                        <div class="media-body" style='margin-left:5px;'>
                          <span class="media-meta pull-right"></span>
                          <h4 class="title "  [ngClass]="{'venues-link': venue.id != id_of_venue, 'white-text': venue.id == id_of_venue }">
                            {{venue.name}}

                          </h4>
                          <p class="summary"  [ngClass]="{'white-text': venue.id == id_of_venue }">{{venue.address}}</p>
                        </div>
                      </div>
                    </td>
                  </tr>

                </ng-container>

              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-5">
      <div class="card">
        <agm-map [latitude]="lat" [longitude]="lng">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </div>
      <br>
      <ng-container *ngIf='selectedVenue'>
        <div class="form-group">
          <label for="exampleInputEmail1"><b>Capacity</b></label>
          <input type="number" class="form-control"
           min="1" max="{{selectedVenue.capacity}}" [(ngModel)]="capacity" value="{{selectedVenue.capacity}}">
          <small id="emailHelp" class="form-text text-muted"><i>  note: Max capacity defined for {{selectedVenue.name}} is {{selectedVenue.capacity}} </i></small>
        </div>


      </ng-container>
      <br>
      <button type="button" (click)='addVenue()' class="btn btn-success" name="button"> Next step</button>

    </div>
  </div>

  <div class="row pt-3" *ngIf='createEventStep == 3' >
    <div class="col-lg-1"> </div>
    <div class="col-md-5">
      <div class="box-shadow performers">
        <div class="panel-body">
          <div class="text-center white-text">
            <h2> Add Performers </h2>
          </div>

          <div class="table-container scrollable">
            <table class="table table-filter">
              <tbody>
                <ng-container *ngIf='performers.length == 0'>
                  <tr data-status="pagado">
                    <td>
                      <div class="media text-center">
                        <div class="text-center">
                          <img src="" class="media-photo">
                        </div>
                        <div class="media-body" style='margin-left:5px;'>
                          <span class="media-meta text-center"></span>
                          <h4 class="title performers-link">
                            No more performers to add
                          </h4>
                          <p class="summary">If you want to add more performers, create some new ones</p>
                        </div>
                      </div>
                    </td>
                  </tr>
                </ng-container>
                <ng-container *ngFor='let performer of performers; let i = index;'>
                  <tr data-status="pagado">
                    <td>
                      <div class="media">
                        <a href="#" class="pull-left">
                          <img src="{{performer.featured_photo}}" class="media-photo">
                        </a>
                        <div class="media-body" style='margin-left:5px;'>
                          <span class="media-meta pull-right">
                            <button type="button" (click)="addPerformer(performer)" class="btn performers white-text btn-sm">Add to Event</button>
                          </span>
                          <h4 class="title performers-link">
                            {{performer.first_name}}

                          </h4>
                          <p class="summary">{{performer.bio}}</p>
                        </div>
                      </div>
                    </td>
                  </tr>

                </ng-container>

              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-5">
      <div class="box-shadow groups">
        <div class="panel-body">
          <div class="text-center white-text pt-1">
            <h2> Add Groups </h2>
          </div>

          <div class="table-container scrollable">
            <table class="table table-filter">
              <tbody>
                <ng-container *ngIf='groups.length == 0'>
                  <tr data-status="pagado">
                    <td>
                      <div class="media text-center">
                        <div class="text-center">
                          <img src="" class="media-photo">
                        </div>
                        <div class="media-body" style='margin-left:5px;'>
                          <span class="media-meta text-center"></span>
                          <h4 class="title groups-link">
                            No more Groups to add
                          </h4>
                          <p class="summary">If you want to add more groups, create some new ones</p>
                        </div>
                      </div>
                    </td>
                  </tr>
                </ng-container>
                <ng-container *ngFor='let group of groups; let i = index'>
                  <tr data-status="pagado">
                    <td>
                      <div class="media">
                        <a href="#" class="pull-left">
                          <img src="{{group.featured_photo}}" class="media-photo">
                        </a>
                        <div class="media-body" style='margin-left:5px;'>
                          <span class="media-meta pull-right">
                            <button type="button" (click)="addGroup(group)" class="btn groups white-text btn-sm">Add to Event</button>
                          </span>
                          <h4 class="title groups-link">
                            {{group.name}}

                          </h4>
                          <p class="summary">{{group.bio}}</p>
                        </div>
                      </div>
                    </td>
                  </tr>

                </ng-container>

              </tbody>
            </table>
          </div>
        </div>
      </div>
      <br>
      <button type="button" class='btn btn-success' name="button" routerLink="/events/{{workingEvent.id}}"> Finish Event </button>

    </div>
  </div>
</div>



<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Image Preview</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <img src="{{url}}" style='max-width:100%;max-height:100%' alt="missing">
    </div>
  </div>
</ng-template>
