<nav class="navbar navbar-expand-lg white-box-navbar">
<a class="navbar-brand lobster-font" routerLink="/home">Event World</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav">
  </ul>
</div>
<div class="nav-item active pull-right">
  <a class="nav-link lobster-font" routerLink="/logout">Logout <span class="sr-only">(current)</span></a>
</div>
</nav>

<div class="no-padding container-fluid background-photo" style='min-height:100vh'>
	<div class="" id="profile_and_requests" [@enterAnimation]>
		<ng-container *ngIf= 'user'>
			<div class="container" style='margin-top:0px;'>
				<br>
        <div class="row">
          <div class="col-md-4" style='padding-left:0px;'>
            <div class="btn btn-default image-preview-input" style='display:block'>
              <span class="glyphicon glyphicon-folder-open"></span>
              <span class="image-preview-input-title">Change profile photo</span>
              <input type="file" accept="image/png, image/jpeg, image/gif" name="input-file-preview" (change)="onFileChanged($event)"/> <!-- rename it -->
            </div>
          </div>
        </div>
				<div class="row">


					<div class="col-lg-12">

						<div class="no-padding lib-item" data-category="ui">
							<div class="lib-panel">
								<div class="row box-shadow">
									<div class="col-md-4 photo" *ngIf='user.has_image(url)'>
										<img class="lib-img" height="100%" width="100%" src="{{user.featured_photo}}" >
									</div>
                  <div class="col-md-4 photo" *ngIf='!user.has_image(url)'>
										<img class="lib-img" height="100%" width="100%" src="{{url}}" >
									</div>

									<div class="col-md-8">
										<div class="lib-row lib-header">
											<h4>{{user.first_name}} {{user.last_name}}</h4>
											<!-- <div class="pull-right">
											10 <i class="fa fa-thumbs-up"></i>
											<a routerLink="/performer/{{performer.id}}/edit"> <button> Edit </button></a>
										</div> -->
										<div class="lib-header-seperator"></div>
									</div>
									<div class="lib-row lib-desc">
                    <p style='text-align:justify'>You created</p>
										<p style='text-align:justify'>{{user.venues}} Venues</p>
                    <p style='text-align:justify'>{{user.groups}} Groups</p>
                    <p style='text-align:justify'>{{user.events}} Events</p>
                    <p style='text-align:justify'>{{user.performers}} Performers</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

			<div class="row">

				<div class="col-md-6">
					<div class="box-shadow groups">
						<div class="panel-body">
							<div class="text-center white-text pt-1">
								<h2 class="white-text">Your requests</h2>
							</div>

							<div class="table-container">
								<table class="table table-filter">
									<tbody>
										<ng-container *ngIf='my_requests.length == 0'>
											<tr data-status="pagado">
												<td routerLink="">
													<div class="media text-center">
														<div class="text-center">
														</div>
														<div class="media-body" style='margin-left:5px;'>
															<span class="media-meta text-center"></span>
															<h4 class="title groups-link">
																You dont have any ticket reservations
															</h4>
															<p class="summary">Visit events details to request ticket reservations </p>
														</div>
													</div>
												</td>
											</tr>
										</ng-container>
										<ng-container *ngFor='let request of my_requests'>
											<tr data-status="pagado">
												<td routerLink="/events/{{request.event_id}}">
													<div class="media">
														<div class="pull-left">
															<img _ngcontent-c3="" class="img-fluid rounded-circle media-photo" alt="User" src="{{request.featured_photo}}">
														</div>
														<div class="media-body" style='margin-left:5px;'>
															<h4 class="title groups-link">
																{{request.subject}}
																<span class="pull-right pagado" [ngStyle]="{'color': getColor(request.status)}">({{request.status}})</span>
															</h4>
															<p class="summary"><b> message: </b>{{request.description}}</p>
															<div class="media-meta pull-right"><i class="fa fa-calendar"></i>  {{getDate(request.created_at)}}</div>

														</div>
													</div>
												</td>
											</tr>

										</ng-container>


									</tbody>
								</table>
							</div>
						</div>
					</div>

				</div>

				<div class="col-md-6">
					<div class="box-shadow groups">
						<div class="panel-body">
							<div class="text-center white-text pt-1">
								<h2 class="white-text">Requests for you </h2>
							</div>

							<div class="table-container">
								<table class="table table-filter">
									<tbody>
										<ng-container *ngIf='requests_for_me.length == 0'>
											<tr data-status="pagado">
												<td routerLink="">
													<div class="media text-center">
														<div class="text-center">
														</div>
														<div class="media-body" style='margin-left:5px;'>
															<h4 class="title groups-link">
																No one requested any tickets for your events
															</h4>
															<p class="summary">Create some new events
															</p>


														</div>
													</div>
												</td>
											</tr>
										</ng-container>
										<ng-container *ngFor='let request of requests_for_me'>
											<tr data-status="pagado">
												<td>
													<div class="media">
														<div class="pull-left">
															<img src="{{request.featured_photo}}" class="img-fluid rounded-circle media-photo">
														</div>
														<div class="media-body" style='margin-left:5px;'>
															<h4 class="title groups-link">
																{{request.subject}}
																<div class="pull-right">
																	<button type="button" class='btn btn-danger'  (click)='rejectRequest(request.id)' name="button"> <i class="fa fa-times white-text"></i></button>
																	<button type="button" class='btn btn-success' (click)='confirmRequest(request.id)' name="button"><i class="fa fa-check white-text"></i></button>
																</div>
															</h4>
															<div>
																<p class="summary"> <b>message: </b>{{request.description}}
																</p>
																<div class="media-meta pull-right"><i class="fa fa-calendar"></i> {{getDate(request.created_at)}}</div>


															</div>



														</div>
													</div>
												</td>
											</tr>

										</ng-container>



									</tbody>
								</table>
							</div>
						</div>
					</div>

				</div>

			</div>

		</div>

	</ng-container>
</div>
</div>
