<!--
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="height:10vh">
	<a class="navbar-brand" href="#">Event world</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<div class="pull-right">
			<ul class="navbar-nav">
				<a class="nav-link" (click)="changeMainView(0)">Main</a>
			</ul>
		</div>
	</div>
</nav> -->

<div class="container-fluid no-padding background-photo" style="min-height:100vh"  [ngClass]="{'background-image': mainNav == 100}" [@enterAnimation]>
	<nav class="navbar navbar-expand-lg white-box-navbar">
	<a class="navbar-brand lobster-font" routerLink="/home">Event World</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
		</ul>
	</div>
	<div class="nav-item active pull-right">
		<a class="nav-link lobster-font" routerLink="/logout">Logout <span class="sr-only">(current)</span></a>
	</div>
</nav>
<br><br>
	<div class="" id="dashboard" [@enterAnimation] >
		<ng-container *ngFor="let n of news">
		<div class="row">
			<div class="col-lg-2"></div>
			<div class="col">

				<div class="">

			 			<div class="cardbox shadow-lg bg-white">

			 			 <div class="cardbox-heading">
			 			  <!-- START dropdown-->
			 			  <div class="media m-0">
			 			   <div class="d-flex mr-3">
			 				<a href=""><img class="img-fluid rounded-circle" src="{{n.user.photo_url}}" alt="User"></a>
			 			   </div>
			 			   <div class="media-body">
			 			    <h6 class="m-0"><b>{{n.user.name}}</b> created a new <b>{{n.ob_name}}</b> called <b> <span routerLink="/{{n.link}}">{{n.name}}</span></b></h6>
			 				<small><span><i class="fa fa-calendar"></i>  {{parseDate(n.created_at)}}</span></small>
			 			   </div>
			 			  </div><!--/ media -->
			 			 </div><!--/ cardbox-heading -->

			 			 <div class="cardbox-item">
			 			  <img class="img-fluid" src="{{n.featured_photo}}" alt="Image">
			 			 </div><!--/ cardbox-item -->
			 			 <div class="cardbox-base">
			 			  <!-- <ul class="float-right">
			 			   <li><a (click)="openComments(n.object_id)"><i class="fa fa-comments"></i></a></li>
			 			   <li><a><em class="mr-3">12 comments</em></a></li>
			 			  </ul>
			 			  <ul>
			 			   <li><a><i class="fa fa-thumbs-up"></i></a></li>
			 			   <li><a href="#"><img src="http://www.themashabrand.com/templates/bootsnipp/post/assets/img/users/3.jpeg" class="img-fluid rounded-circle" alt="User"></a></li>
			 			   <li><a href="#"><img src="http://www.themashabrand.com/templates/bootsnipp/post/assets/img/users/1.jpg" class="img-fluid rounded-circle" alt="User"></a></li>
			 			   <li><a href="#"><img src="http://www.themashabrand.com/templates/bootsnipp/post/assets/img/users/5.jpg" class="img-fluid rounded-circle" alt="User"></a></li>
			 			   <li><a href="#"><img src="http://www.themashabrand.com/templates/bootsnipp/post/assets/img/users/2.jpg" class="img-fluid rounded-circle" alt="User"></a></li>
			 			   <li><a><span>242 Likes</span></a></li>
			 			  </ul> -->
			 			 </div><!--/ cardbox-base -->


			 			</div><!--/ cardbox -->

			            </div><!--/ col-lg-6 -->

			</div>
			<div class="col-lg-2"></div>

		</div>
		</ng-container>

	</div>
</div>
