@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Cabin');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed');

//fonts.googleapis.com/css?family=Open+Sans"
@import url("https://fonts.googleapis.com/css?family=Arvo");
@import url("https://fonts.googleapis.com/css?family=PT+Sans");
@import url("https://fonts.googleapis.com/css?family=Droid+Serif");
@import url("https://fonts.googleapis.com/css?family=Droid+Sans");
@import '~ngx-toastr/toastr.css';
@import "~bootstrap/scss/bootstrap.scss";
@import "/styles/util.css";
@import "/styles/slider.css";
@import "/styles/app.css";
